* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #050600;
    font-family: "Electrolize", sans-serif;
    overflow-x: hidden;
}

::selection {
    color: #d7ff21;
}


/* HEADER  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

nav ul li {
    transition: all 0.3s ease;
    color: #BEBDBD;
    padding: 0 1em;
    cursor: pointer;
}

nav ul li:hover {
    transition: all 0.3s ease;
    color: #ac2823;
}

.logo {
    z-index: 10000;
}


/* Middle Content  */

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.midText {}

.midText h1 {
    /* color: #5B690E; */
    /* -webkit-text-stroke: 1px #93AC23;
    text-stroke: 1px #93AC23; */
    /* -webkit-text-stroke-color:  #93AC23;
    -webkit-text-stroke-width:  1px; */

    color: #93ac230d;
    font-size: 20em;
    /* text-shadow:
    -1px -1px 0 #050600,  
     1px -1px 0 #d7ff21,
    -1px  1px 0 #050600,
     1px  1px 0 #050600; */
    text-shadow:     10px -10px 10px #d7ff21,  
    1px -1px 0 transparent,
   -1px  1px 0 transparent,
    1px  1px 0 transparent, -5px -69px 148px #000000, -5px -187px 126px #000000, 55px -101px 152px #d7ff21, 10px 53px 152px #d7ff21;
    background: transparent;
    animation: glow 1s infinite linear;
}


.lambo {
    position: relative;
    top: -14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lambo img {
    width: 94%;
    transform: scale(1);
}


/* Footer  */

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    height: 0vh;
    position: relative;
    top: -12rem;
}

.leftSide {
    display: flex;
    flex-direction: column;
}

.firstText {
    color: #BEBDBD;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.firstText h2 {
    font-size: 6em;
    padding: 0;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.firstCircles {
    display: flex;
    align-self: center;
    padding-left: 2em;
}

.secondText p {
    color: #BEBDBD;
}

.singleCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-color: #d7ff21;
    border-radius: 50%;
    margin: 0em 1em;
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 11px #93AC23;
    background: transparent;
    transition: all 2s ease;

}

.singleCircle:nth-child(1) p {
    font-size: 2em;
}

.singleCircle p {
    color: #d7ff21;
    font-size: 0.8em;
}

.singleCircle:nth-child(2) p:nth-child(1) {
    color: #d7ff21;
    font-size: 1.1em;
}

.singleCircle:nth-child(3) p:nth-child(1) {
    color: #d7ff21;
    font-size: 1.1em;
}

.singleCircle:nth-child(2) p:nth-child(2) {
    color: #d7ff21;
    font-size: 0.7em;
}

.singleCircle:nth-child(3) p:nth-child(2) {
    color: #d7ff21;
    font-size: 0.7em;
}

.singleCircle p {
    color: #d7ff21;
    font-size: 0.8em;
    text-shadow: 0px 0px 11px #93AC23;
    cursor: pointer;
}

.singleCircle:hover  {
    box-shadow: 0px 0px 30px #93AC23;
    transition: all 2s ease;
}

.secondText p {
    font-size: 1.7em;
}

.shopButton {
    padding: 4em 0em;
}

.social {
    /* position: relative;
    top: 0;
    right: 2rem; */
}

.social a {
    color: #BEBDBD;
    text-decoration: none;
    padding: 0 1em;
    font-size: 1.3em;
    transition: all 0.3s ease;
}

.social a:hover {
    color: #93AC23;
    text-decoration: none;
    padding: 0 1em;
    font-size: 1.3em;
    transition: all 0.3s ease;
}

.social a:nth-child(1) {
    padding: 0 0em;
    padding-right: 1em;
}

.shopButton a {
    border-style: solid;
    border-color: #d7ff21;
    border-radius: 30px;
    padding: 0.5em 3em;
    text-decoration: none;
    color: #d7ff21;
    font-size: 1.3em;
    box-shadow: 0px 0px 11px #93AC23;
    text-shadow: 0px 0px 11px #93AC23;
    transition: all 2s ease;

}

.shopButton a:hover{
    box-shadow: 0px 0px 30px #93AC23;
    transition: all 2s ease;
}

.rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41%;
}

.rightSide img {
    width: 100%;
}


/* MEDIA QUERIES  */

@media(min-width:1500px) {
    .midText h1 {
        font-size: 28em;
    }
    .lambo img {
        transform: scale(1.2);
    }
}

/* @keyframes glow {
    0% {
        text-shadow:     
        1px -1px 0px #d7ff21, -5px -60px 148px #000000, -5px -17px 126px #000000, 55px -101px 152px #d7ff21, 10px 53px 152px #d7ff21;    }
    50% {
        text-shadow:     
        10px -10px 10px #000000, -5px -69px 148px #000000, -5px -187px 126px #000000, 55px -101px 152px #d7ff21, 10px 53px 152px #d7ff21;    }    
    100% {
        text-shadow:    
        1px -1px 0px #000000,  -5px -69px 148px #000000, -5px -187px 126px #000000, 55px -101px 152px #d7ff21, 10px 53px 152px #d7ff21;    }
} */
