@font-face {
    font-family: "Electrolize";
    src: url("../fonts/electrolize-regular-webfont.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Electrolize", sans-serif;
    overflow-x: hidden;
}

body {
    font-family: "Electrolize", sans-serif;
    background-color: #050600;
    overflow-x: hidden;
}

::selection {
    color: #d7ff21;
}


/* HEADER  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

nav ul li {
    transition: all 0.3s ease;
    color: #BEBDBD;
    padding: 0 1em;
    cursor: pointer;
}

nav ul li:hover {
    transition: all 0.3s ease;
    color: #ac2823;
}

.logo {
    z-index: 10000;
}


/* Middle Content  */

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 81vh;
    position: relative;
    top: 11em;
}

.midText {}

.midText h1 {
    /* color: #5B690E; */
    -webkit-text-stroke: 1px #93AC23;
    /* -webkit-text-stroke-color:  #93AC23;
    -webkit-text-stroke-width:  1px; */
    color: #93ac230d;
    font-size: 20em;
    /* text-shadow:
    -1px -1px 0 #050600,  
     1px -1px 0 #d7ff21,
    -1px  1px 0 #050600,
     1px  1px 0 #050600; */
    /* text-shadow: -1px -1px 15px #d7ff21, 1px -1px 15px #d7ff21, -1px 1px 15px #050600, 1px 1px 15px #050600, 55px -101px 152px #000, 55px -101px 152px #d7ff21, 10px 53px 152px #d7ff21; */
    background: transparent;
    animation: glow 1s infinite linear;
}

.lambo {
    position: relative;
    top: -14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lambo img {
    width: 94%;
    transform: scale(1);
}


/* Footer  */

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    height: fit-content;
    position: relative;
    /* top: -12rem; */
}

.leftSide {
    display: flex;
    flex-direction: column;
}

.firstText {
    color: #BEBDBD;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.firstText h2 {
    font-size: 6em;
    padding: 0;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.firstCircles {
    display: flex;
    align-self: center;
    padding-left: 2em;
}

.secondText p {
    color: #BEBDBD;
}

.secondText span {
    color: #BEBDBD;
    padding-top: 0.5em;
    font-size: 0.7em;
}

.secondText span a {
    color: #93AC23;
    text-decoration: none;
}

.singleCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-color: #d7ff21;
    border-radius: 50%;
    margin: 0em 1em;
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 11px #93AC23;
    background: transparent;
    transition: all 2s ease;
}

.singleCircle:nth-child(1) p {
    font-size: 2em;
}

.singleCircle p {
    color: #d7ff21;
    font-size: 0.8em;
}

.singleCircle:nth-child(2) p:nth-child(1) {
    color: #d7ff21;
    font-size: 1.1em;
}

.singleCircle:nth-child(3) p:nth-child(1) {
    color: #d7ff21;
    font-size: 1.1em;
}

.singleCircle:nth-child(2) p:nth-child(2) {
    color: #d7ff21;
    font-size: 0.7em;
}

.singleCircle:nth-child(3) p:nth-child(2) {
    color: #d7ff21;
    font-size: 0.7em;
}

.singleCircle p {
    color: #d7ff21;
    font-size: 0.8em;
    text-shadow: 0px 0px 11px #93AC23;
    cursor: pointer;
}

.singleCircle:hover {
    box-shadow: 0px 0px 30px #93AC23;
    transition: all 2s ease;
}

.secondText p {
    font-size: 1.7em;
}

.shopButton {
    padding: 4em 0em;
}

.social {
    /* position: relative;
    top: 0;
    right: 2rem; */
    padding-bottom: 2em;
}

.social a {
    color: #BEBDBD;
    text-decoration: none;
    padding: 0 1em;
    font-size: 1.3em;
    transition: all 0.3s ease;
}

.social a:hover {
    color: #93AC23;
    text-decoration: none;
    padding: 0 1em;
    font-size: 1.3em;
    transition: all 0.3s ease;
}

.social a:nth-child(1) {
    padding: 0 0em;
    padding-right: 1em;
}

.shopButton a {
    border-style: solid;
    border-color: #d7ff21;
    border-radius: 30px;
    padding: 0.5em 3em;
    text-decoration: none;
    color: #d7ff21;
    font-size: 1.3em;
    box-shadow: 0px 0px 11px #93AC23;
    text-shadow: 0px 0px 11px #93AC23;
    transition: all 2s ease;
}

.shopButton a:hover {
    box-shadow: 0px 0px 30px #93AC23;
    transition: all 2s ease;
}

.rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41%;
}

.rightSide img {
    width: 100%;
}


/* MEDIA QUERIES  */


@media(min-width:1500px) {
    .midText h1 {
        font-size: 28em;
    }
    .lambo img {
        transform: scale(1.2);
    }
    .bottom {
        position: relative;
        /* top: -15rem; */
    }
}

@media(max-width:1500px) {
    .mid {
        height: 55vh;
        position: relative;
        top: 15em;
    }
}

@media(max-width:1336px) {
    .bottom {
        /* top: -12rem; */
    }
}

@media(max-width:1300px) {
    .midText h1 {
        font-size: 18em;
    }
    .lambo img {
        transform: scale(1);
    }
    .firstText h2 {
        font-size: 4em;
    }
    .singleCircle {
        width: 62px;
        height: 62px;
    }
    .singleCircle:nth-child(1) p {
        font-size: 1.4em;
    }
    .singleCircle:nth-child(2) p:nth-child(1) {
        font-size: 0.9em;
    }
    .singleCircle:nth-child(3) p:nth-child(1) {
        font-size: 0.9em;
    }
    .singleCircle:nth-child(3) p:nth-child(2),
    .singleCircle:nth-child(2) p:nth-child(2) {
        color: #d7ff21;
        font-size: 0.5em;
    }
    .shopButton a {
        padding: 0.3em 2em;
    }
    .mid {
        height: 55vh;
        position: relative;
        top: 13em;
    }
    .bottom {
        position: relative;
        /* top: -7rem; */
    }
    .social {
        padding-bottom: 0em;
    }
}



@media(min-width:1080px) and (max-height:900px) {
    .mid {
        height: 71vh;
        position: relative;
        top: 12em;
    }
}




@media(max-width:1080px) {
    .rightSide img {
        width: 113%;
    }
    .mid {
        height: 46vh;
        position: relative;
        top: 8em;
    }
}

@media(max-width:992px) {
    .midText h1 {
        font-size: 15em;
    }
    .bottom {
        flex-direction: column-reverse;
        /* top: 35rem; */
    }
    .rightSide img {
        width: 183%;
    }
    .secondText {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 1em;
    }
    .shopButton {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1.5em;
    }
    .lambo {
        top: -10rem;
    }
    .social a:nth-child(1) {
        padding: 0 1em;
        padding-right: 1em;
    }
}

@media(max-width:768px) {
    .midText h1 {
        font-size: 10em;
    }
    .bottom {
        flex-direction: column-reverse;
        /* top: 0rem; */
    }
    .lambo {
        top: -7rem;
    }
    .mid {
        height: 41vh;
        position: relative;
        top: 6em;
    }
}

@media(max-width:700px) {
    .firstText {
        flex-direction: column;
    }
    .firstCircles {
        padding-left: 0em;
        padding-top: 1em;
    }
    .shopButton {
        padding: 3em 0em;
    }
}

@media(max-width:608px) {
    nav ul {
        display: none;
    }
    header {
        justify-content: center;
        align-items: center;
    }
    .mid {
        height: 36vh;
        position: relative;
        top: 4em;
    }
    .secondText p {
        font-size: 1.4em;
    }
    .midText h1 {
        font-size: 8.5em;
    }
    .lambo {
        top: -5rem;
    }
}

@media(max-width:580px) {
    .bottom {
        flex-direction: column-reverse;
        /* top: 33rem; */
    }
}


@media(max-height:500px) {
    .mid {
        height: 77vh;
        position: relative;
        top: 8em;
    }
}

/* 
@keyframes glow {
    0% {
        text-shadow:     
        1px -1px 0px #d7ff21, -5px -60px 148px #000000, -5px -17px 126px #000000, 55px -101px 152px #d7ff21, 10px 53px 152px #d7ff21;    }
    50% {
        text-shadow:     
        10px -10px 10px #d7ff21, -5px -69px 148px #000000, -5px -187px 126px #000000, 55px -101px 152px #d7ff21, 10px 53px 152px #d7ff21;    }    
    100% {
        text-shadow:    
        1px -1px 0px #d7ff21,  -5px -69px 148px #000000, -5px -187px 126px #000000, 55px -101px 152px #d7ff21, 10px 53px 152px #d7ff21;    }
} */